<h1>Mind Warrior</h1>

<% @meditations.each do |meditation| %>
  <h2>Title: <a href="/meditations/<%= meditation.id %>"><%= meditation.title %></a></h2>
  <h3>Practice: <%= meditation.practice %></h3>
  <h3>Length: <%= meditation.length %></h3>
  <h3>Sound: <%= meditation.sound_url %></h3>
  <!-- <a href="/meditations/<%= meditation.id %>">More Info</a> -->
<% end %>